*{
    @import url('https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap');
    font-family: 'Sono', sans-serif;
    font-weight: lighter;
}  

#root{
    width: 80%;
    margin: auto;
}

input{
    padding: 7px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

input:hover{
    padding: 7px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 12px;
    transition-duration: 0.6s;

}

div{
    margin-top: 40px;
}